@font-face {
    font-family:HPSimplified;
    src:url(/images/hps.woff) format(woff);
    font-weight:700;
    font-style:normal;
}

body {
    width:100%;
    font-family:HPSimplified,arial;
    font-size:13px;
    min-width:1000px;
    background-color:#fff;
    margin:0;
    padding:0;
}

input {
    font-family:HPSimplified,arial;
}

html {
    height:100%;
}

h1,h2,h3,h4,h5 {
    font-weight:700;
    margin-top:0;
}

p {
    margin:0;
    padding:0;
}

a {
    outline:0;
    text-decoration:none;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

li {
    display:inline-block;
    float:left;
}

img {
    border:0;
}

span {
    display:inline-block;
}

.float {
    float:left;
    padding-right:6px;
}

#body {
    background:none repeat scroll 0 0 #fff;
    padding-bottom:23px;
    font-size:10px;
    background-color:#fff;
    margin:0 auto;
}

#everything {
    height:auto!important;
    width:100%;
    background-color:#fff;
    margin:auto;
}

#content {
    width:1000px;
    display:block;
    margin:auto;
}

#body {
    height:400px;
    min-height:500px;
    min-width:950px;
    margin-left:26px;
}

#signin {
    display:block;
    width:300px;
    margin:16px auto;
    padding:22px;
    background-color:#f8f9fa;
    border:1px solid #eeefef;
}

#signin label {
    text-transform: uppercase;
    color:#2a2e36;
    font-size:12px;
}

#signin input [type="text"], input[type="password"] {
    border:1px solid #d9dbdd;
    outline:none;
}

#signin .login_button {
    border:none;
    background-color:#009ad7;
    color:white;
    padding:8px;
    border-radius:5px;
    -webkit-border-radius:5px;
    background-image:url("../images/continue_arrow.png");
    background-position:right center;
    padding-right:36px;
    background-repeat:no-repeat;
}

.text-field {
    max-width:250px;
}

.submit-button {
    padding-top: 10px;
}

#query_container {
    text-align:center;
    margin-bottom:24px;
}

#the_query {
    width:600px;
    height:100px;
    border:3px solid #cccccc;
    padding:5px;
    outline:none;
    resize:none;
    overflow:auto;
}

#controls {
    bottom:0;
    width:100%;
    z-index:0;
    background-color:#fff;
    height:auto;
    margin-top:5px;
    margin-bottom:8px;
    position:relative;
}

#slider_left {
    float:left;
    padding-top:20px;
    min-width:160px;
}

#slider_right {
    float:right;
    padding-top:20px;
    min-width:160px;
}

.slider_link {
    font-size:24px;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    max-width:100px;
}

#left_slider_arrow {
    min-width:36px;
    min-height:37px;
    background-image:url(/images/left-arrow.png);
    float:left;
}

#left_slider_arrow:hover, #left_slider_arrow:focus {
    background-image:url(/images/left-arrow-hover.png);
}

#right_slider_arrow {
    min-width:36px;
    min-height:37px;
    background-image:url(/images/right-arrow.png);
    float:right;
}

#right_slider_arrow:hover, #right_slider_arrow:focus {
    background-image:url(/images/right-arrow-hover.png);
}

#slider {
    margin-left:100px;
    font-size:16px;
}

#slider h2 {
    font-size:24px;
}

#information_corner {
    font-size:18px;
}

.report_section_title {
    font-size:24px;
    padding:5px;
}

.report_section_description {
    font-size:14px;
    padding-top:25px;
    padding-bottom:5px;
}

.tables_list_section {
    padding:5px;
}

.columns_list_section {
    padding-top:6px;
    padding-right:16px;
    min-width:80px;
    float:left;
}

.table_list_item, .column_list_item {
    min-height:24px;
    display:block;
}

.extra_item {
    height:24px;
    padding:0px;
}

.where-clause {
    padding:6px;
    min-height:24px;
    display:block;
}

.where-lhs, .where-rhs {
    max-width:80px;
    max-height:24px;
    float:left;
    padding:3px;
}

.where-op, .where-remove {
    max-width:50px;
    max-height:24px;
    float:left;
    padding:3px;
}
